/*utils*/

.demo-width {
    width: 70%;
    height: 5rem;
}

.width-right {
    margin-right: 2rem;
}

.mid-align-item {
    margin: auto;
}

.diff-item {
    margin: 2rem;
}

.txt-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.large-text {
    font-size: 2em;
}


/*Actual Css*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font1: "";
}

html {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
}

.navbar {
    padding: 2rem 4rem 2rem 4rem;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-header {
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: left;
    align-items: center;
}

.navbar-header img {
    width: 150px;
    height: 100px;
}

.login {
    margin: 1rem;
    width: 5vw;
    height: 5vh;
    background-color: transparent;
    border: 3px solid #cd00ff;
    border-radius: 5px;
    color: #cd00ff;
}

.signup {
    margin: 1rem;
    width: 7vw;
    height: 5vh;
    background: #cd00ff;
    background: linear-gradient(0deg, #cd00ff 0%, #ffffff 115%);
    background: -webkit-linear-gradient(0deg, #cd00ff 0%, #ffffff 115%);
    background: -moz-linear-gradient(0deg, #cd00ff 0%, #ffffff 115%);
    border: 3px solid #cd00ff;
    border-radius: 5px;
    color: white;
}

.navbar-buttons {
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: right;
    align-items: center;
}

.content1 {
    width: 100%;
    height: 70vh;
    padding: 2rem;
    background: #ffffff;
    background: #c972e1;
    background: #e1c5e1;
    background: linear-gradient(90deg, #ffffff 0%, #e1c5e1 90%);
    background: -webkit-linear-gradient(90deg, #ffffff 0%, #e1c5e1 90%);
    background: -moz-linear-gradient(90deg, #ffffff 0%, #e1c5e1 90%);
}

.iit {
    width: 30%;
    height: 6rem;
    background-color: white;
    box-shadow: 1px 23px 37px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 23px 37px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 23px 37px -8px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    color: #9004b3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-ref {
    width: 30%;
    height: 10rem;
    background-color: transparent;
}

.full-ref .ref-txt {
    margin-top: 1rem;
    font-size: 2rem;
    color: #9004b3;
}

.content1-btn {
    padding: 3rem;
    width: 30%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.know-btn {
    margin-top: 10vh;
    margin-top: 5vh;
    width: 10vw;
    height: 5vh;
    background: #cd00ff;
    background: linear-gradient(0deg, #cd00ff 0%, #ffffff 150%);
    background: -webkit-linear-gradient(0deg, #cd00ff 0%, #ffffff 150%);
    background: -moz-linear-gradient(0deg, #cd00ff 0%, #ffffff 150%);
    border-radius: 5px;
    color: white;
    border: none;
    box-shadow: 11px 9px 24px -11px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 11px 9px 24px -11px rgba(0, 0, 0, 1);
    -moz-box-shadow: 11px 9px 24px -11px rgba(0, 0, 0, 1);
}

.how-btn {
    margin-top: 10vh;
    width: 15vw;
    height: 5vh;
    background: transparent;
    border: 3px solid #cd00ff;
    border-radius: 5px;
    color: #555;
}

.explore-btn {
    margin-top: 5vh;
    margin-top: 5vh;
    width: 30vw;
    height: 5vh;
    background: #cd00ff;
    background: linear-gradient(0deg, #cd00ff 0%, #ffffff 150%);
    background: -webkit-linear-gradient(0deg, #cd00ff 0%, #ffffff 150%);
    background: -moz-linear-gradient(0deg, #cd00ff 0%, #ffffff 150%);
    border-radius: 5px;
    color: white;
    border: none;
    box-shadow: 11px 9px 24px -11px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 11px 9px 24px -11px rgba(0, 0, 0, 1);
    -moz-box-shadow: 11px 9px 24px -11px rgba(0, 0, 0, 1);
}

.content2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 90%;
    height: 150vh;
    background: #f5c8f0;
    background: #8b6a97;
    background: linear-gradient(90deg, #8b6a97 0%, #ffffff 60%);
    background: -webkit-linear-gradient(90deg, #8b6a97 0%, #ffffff 60%);
    background: -moz-linear-gradient(90deg, #8b6a97 0%, #ffffff 60%);
    padding: 2rem;
    box-shadow: 2px -8px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px -8px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px -8px 5px 0px rgba(0, 0, 0, 0.75);
}

.header2 {
    margin: 1rem 1rem 5rem 1rem;
}

.header2 {
    margin: 1rem 1rem 5rem 1rem;
}

.header-content {
    text-align: center;
}

.video2 {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video2 iframe {
    width: 50%;
    height: 20vw;
}

.header2a {
    /* padding: 1rem; */
    width: 110%;
    height: 55%;
    margin-left: -0.7rem;
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 20vh 20vh;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
}

.cell {
    background: #8b5e9b;
    background: linear-gradient(-45deg, #8b5e9b 0%, #ffffff 80%);
    background: -webkit-linear-gradient(-45deg, #8b5e9b 0%, #ffffff 80%);
    background: -moz-linear-gradient(-45deg, #8b5e9b 0%, #ffffff 80%);
    width: 100%;
    height: 100%;
    padding-top: 3rem;
    border-radius: 2rem;
    color: #9004b3;
}


/* Media: css */

@media screen and (max-width: 500px) {
    /*utils*/
    .demo-width {
        width: 70%;
        height: 5rem;
    }
    .width-right {
        margin-right: 0.2rem;
    }
    .mid-align-item {
        margin: auto;
    }
    .diff-item {
        margin: 2rem;
    }
    .txt-center {
        text-align: center;
    }
    .bold {
        font-weight: bold;
    }
    .large-text {
        font-size: 2em;
    }
    /*Actual Css*/
    .navbar {
        padding: 1rem 1.5rem 1rem 2rem;
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 1px 23px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px 23px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 23px 5px 0px rgba(0, 0, 0, 0.75);
    }
    .navbar-header {
        width: 50%;
        height: inherit;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .navbar-header img {
        width: 100px;
        height: 50px;
    }
    .login {
        margin: 1rem;
        width: 15vw;
        height: 5vh;
        background-color: transparent;
        border: 3px solid #cd00ff;
        border-radius: 5px;
        color: #cd00ff;
    }
    .signup {
        margin: 1rem;
        width: 18vw;
        height: 5vh;
        background: #cd00ff;
        background: linear-gradient(0deg, #cd00ff 0%, #ffffff 115%);
        background: -webkit-linear-gradient(0deg, #cd00ff 0%, #ffffff 115%);
        background: -moz-linear-gradient(0deg, #cd00ff 0%, #ffffff 115%);
        border: 3px solid #cd00ff;
        border-radius: 5px;
        color: white;
    }
    .navbar-buttons {
        margin-right: 3rem;
        width: 50%;
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .content1 {
        width: 100%;
        height: 90vh;
        margin: auto;
        background: #ffffff;
        background: #c972e1;
        background: #e1c5e1;
        background: linear-gradient(90deg, #ffffff 0%, #e1c5e1 90%);
        background: -webkit-linear-gradient(90deg, #ffffff 0%, #e1c5e1 90%);
        background: -moz-linear-gradient(90deg, #ffffff 0%, #e1c5e1 90%);
    }
    .iit {
        padding: 1rem;
        width: 90%;
        height: 15vh;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 23px 37px -8px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px 23px 37px -8px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 23px 37px -8px rgba(0, 0, 0, 0.75);
        border-radius: 10px;
        color: #9004b3;
    }
    .full-ref {
        width: 90%;
        height: 30vh;
        background-color: transparent;
    }
    .full-ref .ref-txt {
        margin-top: 3rem;
        font-size: 2rem;
        color: #9004b3;
    }
    .content1-btn {
        padding: 3rem;
        width: 90%;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .know-btn {
        margin-top: 5vh;
        width: 30vw;
        height: 5vh;
        background: #cd00ff;
        background: linear-gradient(0deg, #cd00ff 0%, #ffffff 150%);
        background: -webkit-linear-gradient(0deg, #cd00ff 0%, #ffffff 150%);
        background: -moz-linear-gradient(0deg, #cd00ff 0%, #ffffff 150%);
        border-radius: 5px;
        color: white;
        border: none;
        box-shadow: 11px 9px 24px -11px rgba(0, 0, 0, 1);
        -webkit-box-shadow: 11px 9px 24px -11px rgba(0, 0, 0, 1);
        -moz-box-shadow: 11px 9px 24px -11px rgba(0, 0, 0, 1);
    }
    .how-btn {
        margin-top: 10vh;
        width: 50vw;
        height: 5vh;
        background: transparent;
        border: 3px solid #cd00ff;
        border-radius: 5px;
        color: #555;
    }
    .explore-btn {
        margin-top: 5vh;
        width: 70vw;
        height: 5vh;
        background: #cd00ff;
        background: linear-gradient(0deg, #cd00ff 0%, #ffffff 150%);
        background: -webkit-linear-gradient(0deg, #cd00ff 0%, #ffffff 150%);
        background: -moz-linear-gradient(0deg, #cd00ff 0%, #ffffff 150%);
        border-radius: 5px;
        color: white;
        border: none;
        box-shadow: 11px 9px 24px -11px rgba(0, 0, 0, 1);
        -webkit-box-shadow: 11px 9px 24px -11px rgba(0, 0, 0, 1);
        -moz-box-shadow: 11px 9px 24px -11px rgba(0, 0, 0, 1);
    }
    .content2 {
        width: 90%;
        height: 125vh;
        background: #f5c8f0;
        background: #8b6a97;
        background: linear-gradient(90deg, #8b6a97 0%, #ffffff 60%);
        background: -webkit-linear-gradient(90deg, #8b6a97 0%, #ffffff 60%);
        background: -moz-linear-gradient(90deg, #8b6a97 0%, #ffffff 60%);
        padding: 2rem;
        box-shadow: 2px -8px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 2px -8px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px -8px 5px 0px rgba(0, 0, 0, 0.75);
    }
    .header2 {
        margin: 1rem 1rem 5rem 1rem;
    }
    .header2 h2 {
        color: #9004b3;
    }
    .header-content {
        color: #9004b3;
        text-align: left;
    }
    .video2 {
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .video2 iframe {
        width: 60%;
        height: 36vw;
    }
    .header2a {
        /* padding: 1rem; */
        width: 110%;
        height: 55%;
        margin-left: -0.7rem;
        display: grid;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 20vh 20vh;
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
    }
    .cell {
        background: #8b5e9b;
        background: linear-gradient(-45deg, #8b5e9b 0%, #ffffff 80%);
        background: -webkit-linear-gradient(-45deg, #8b5e9b 0%, #ffffff 80%);
        background: -moz-linear-gradient(-45deg, #8b5e9b 0%, #ffffff 80%);
        width: 100%;
        height: 100%;
        padding-top: 3rem;
        border-radius: 2rem;
        color: #9004b3;
    }
    /* .content3 {
        width: 90%;
        height: 100vh;
        background-color: red;
    }
    .btndude {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .success-recepie p {
        text-align: center;
    }
    .comp-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .comp-txt {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .comp-txt ul li {
        list-style-type: none;
    } */
}